<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tất cả</title>
    <link rel="stylesheet" href="css/css_menu_admin.css">
    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Laila|Roboto" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <!-- <link href="css/agency.min.css" rel="stylesheet"> -->
    <link href="css/agency.min.css" rel="stylesheet">
    <!-- icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body id="page-top">
<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: #6ddd80; text-decoration: none;" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand" style="color: #6ddd80; text-decoration: none;" href="#">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" style="color: #6ddd80; text-decoration: none;" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="navbar-brand dropdown-toggle" style="color: #6ddd80; text-decoration: none;" href="#"
                   id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="color: #6ddd80; text-decoration: none;" href="#">Action</a>
                    <a class="dropdown-item" style="color: #6ddd80; text-decoration: none;" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="color: #6ddd80; text-decoration: none;" href="#">Something else
                        here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="navbar-brand disabled" style="color: #6ddd80; text-decoration: none;" href="#" tabindex="-1"
                   aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 navbar-brand" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--  -->
<br>
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Tất cả mặt hàng</h2>
                <h3 class="section-subheading text-muted">Đảm bảo chất lượng mọi nhà</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item" th:each="product : ${listProduct}">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" th:src="${product.img}" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4 th:text="${product.name}"></h4>
                    <p style="color:red;" th:text="${product.price}">Gia Tien:  VND</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase" style="color:black;">Mì Vị Hương</h2>
                            <p class="item-intro text-muted">Vị bò hầm sốt vang tô 80g</p>
                            <img class="img-fluid d-block mx-auto" src="image/my/mi-to-vi-huong-bo-ham-sot-vang-80g-2-org.jpg" alt="">
                            <p style="color:black;">Thành phần:   Bột mì, tinh bột biến tính, tinh bột khoai mì, bột thịt bò,...</p>
                            <p style="color:black;">Cách dùng:  Cho mì và các gói gia vị vào tô, đổ nước sôi vừa đủ trong 3 phút.</p>
                            <a href="/muahang">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-baby-carriage"></i>
                                    Mua hàng </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Mì Jongga</h2>
                            <p class="item-intro text-muted">Hương vị kim chi Ramen tô 140g</p>
                            <img class="img-fluid d-block mx-auto" src="image/my/kim-chi-ramen-jongga-to-140g-2-org.jpg" alt="">
                            <p>Thành phần:   Bột mì, dầu cọ, tinh bột khoai tây, bột kim chi, bột hành,...</p>
                            <p>Cách dùng:    Cho 350ml nước sôi vào mì, gia vị trong vòng 3 phút. Bỏ gói kim chi vào ly và trộn đều.</p>
                            <a href="/muahang">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-baby-carriage"></i>
                                    Mua hàng </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Mì xào khô Nongshim</h2>
                            <p class="item-intro text-muted">Hương vị hải sản cay gói 137kg</p>
                            <img class="img-fluid d-block mx-auto" src="image/my/mi-xao-nongshim-neoguri-hai-san-cay-goi-137g-201812031110563647.JPG" alt="">
                            <p>Thành phần:   Bột mì, tinh bột khoai tây, gia vị cá, tôm, chiết xuất trà xanh, gia vị hải sản,...</p>
                            <p>Cách dùng:  Cho 600ml nước sôi vào mì trong vòng 5 phút. Đổ nước, cho các gói gia vị vào trộn đều.</p>
                            <a href="/muahang">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-baby-carriage"></i>
                                    Mua hàng </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">TH true MILK hương dâu</h2>
                            <p class="item-intro text-muted">Lốc 4 hộp sua tươi tiệt trùng TH true MILK hương dâu 180ml</p>
                            <img class="img-fluid d-block mx-auto" src="image/sua/loc-sua-tuoi-tiet-trung-th-true-milk-huong-dau-hop-180ml-4-hop-201811301103486927.jpg" alt="">
                            <p> sua tươi tiệt trùng TH True Milk hương dâu thơm ngon, dễ uống, được làm hoàn toàn từ nguồn sua tươi sạch tại trang trại bò sua của TH. Trong sua chứa nhiều dưỡng chất thiết yếu tốt cho sức khoẻ như Vitamin A, D, B1, B2, Canxi, kẽm...

                                Sản phẩm sử dụng công nghệ tiệt trùng UTH, đảm bảo loại bỏ các khuẩn có hại trong sua, giữ được gần như trọn vẹn dưỡng chất và hương vị đặc trưng của sua.</p>
                            <a href="/muahang/locsuath">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-baby-carriage"></i>
                                    Mua hàng </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<!-- <script src="vendor/jquery/jquery.min.js"></script> -->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<!-- <script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>
</body>
</html>